html {
    box-sizing: border-box;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  ul {
    list-style-type: none;
  }
  
  button {
    background-color: transparent;
    padding: 0;
    border: 0;
    cursor: pointer;
  }


  .container{
    max-width: 1920px;
    padding: 0 10px;
    margin: 0 auto;
  }

  body{
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.3;
    font-style: normal;
  }
  .interior{
    height: 500px;
    background-color: rgb(19, 23, 28);
  }
  .imgi{
    width: 100%;
    height: 100%;
    align-items: center;
  }
  @media (max-width:1200px) {
    .imgi{
      height: 50%;
    }
  }

  .btn {
    border: none;
    font-family: 'Lato';
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    
  }
  
  .btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  

  
  .btn:before {
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
  }
  
  

  .btn-sep {
    padding: 25px 60px 25px 120px;
  }
  
  .btn-sep:before {
    background: rgba(0,0,0,0.15);
  }
  
  .btn-1 {
    background: linear-gradient(#ba3002, black);
    color: #fff;
  }
  
  .btn-1:hover {
    background: linear-gradient(#971b1b, #2f2f2f);
  }
  
  .btn-1:active {
    background: linear-gradient(#971b1b, #2f2f2f);
    top: 2px;
  }
  
  .btn-1:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
  }
  
  /* Button 2 */
  .btn-2 {
    background: #e3eb06;
    color: #fff;
  }
  
  .btn-2:hover {
    background: #d5da5e;
  }
  
  .btn-2:active {
    background: #d5da5e;
    top: 2px;
  }
  
  .btn-2:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
  }
  
  /* Button 3 */
  .btn-3 {
    background: #884200;
    color: #fff;
  }
  
  .btn-3:hover {
    background: #ae5d00;
  }
  
  .btn-3:active {
    background: #ae5d00;
    top: 2px;
  }
  
  .btn-3:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
  }
  
  /* Button 3 */
  .btn-4 {
    background: #34495e;
    color: #fff;
  }
  
  .btn-4:hover {
    background: #2c3e50;
  }
  
  .btn-4:active {
    background: #2c3e50;
    top: 2px;
  }
  
  .btn-4:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
  }
  

  .icon-cart:before {
    content: "\f07a";
  }
  
  .icon-heart:before {
    content: "\f55a";
  }
  
  .icon-info:before {
    content: "\f05a";
  }
  
  .icon-send:before {
    content: "\f1d8";
  }




  .header{
    background: linear-gradient(#ba3002, #fafafa);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .header_top{
 
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu_btn{
    width: 70px;
    height: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .menu_btn span{
    background-color: #FF5017;
    width: 100%;
    height: 3px; 
  }

 .header_content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: calc(100vh - 135px);
  position: relative;
 }
 .title{
font-size: 245px;
background: linear-gradient(180deg, #000000 0%, #830B02 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
padding-left: 150px;
line-height: .8;

}
.subtitle{
font-size: 120px;
background: linear-gradient(90deg, #FF5017 0%, #000000 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
align-self: flex-end;
padding-right: 75px;
margin-bottom: -25px;
}

.header_img{
position: absolute;
left: 0;
right: 0;
top: 100px;
bottom: 0;
margin: auto;
max-height: 100%;

}

.info {
  background-color: #f8f8f8;
  padding: 170px 0;
}

.info_title {
  font-size: 160px;
  text-align: center;
  line-height: .8;
  text-transform: uppercase;
}

.info_img {
  max-width: 100%;
  margin: 0 auto;
}

.info_content {
  display: flex;
  margin-bottom: 170px;
  padding-left: 155px;
  padding-right: 100px;
  gap: 94px;
}

.info_list {
  column-count: 2;
  gap: 140px;

}

.info_list dt,
.info_list dd {
  display: inline-block;

}

.price {
  font-size: 46px;
  margin-bottom: 40px;
}

.order {
  padding: 30px 60px;
  background-color: #FF5017;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
}

.info_gallery{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-radius: 20px; 
  flex-wrap: wrap;
}
.info_gallery img{
  max-width: 100%;
}

.color{
background-color: #f8f8f8;
}

.color_text{
  text-align: center;
 text-transform: uppercase;
  font-size: 160px;
  margin-bottom: 70px;
}

.color_gallery{
  background-color: #13171C;
}

.color_gallery-start,
.color_gallery-end{
  width: 100%;
  margin: 0 auto;
}

.gallery-box{
  padding: 170px 50px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  text-align: center;
} 

.gallery-box img{
  max-width: 100%;
  border-radius: 20px;
  margin-bottom: 20px;
}

.gallery-box_text{
  font-size: 36px;
  color: #fff;
}

.contacs{
  padding: 170px 0 100px;
  background-color: #13171C;
}

.contacs_title{
  text-align: center;
  margin-bottom: 70px;
  text-transform: uppercase;
  font-size: 36px;
  color: #FF5017;
}

.contacs_box{
  display: flex;
  justify-content: space-between;
  gap: 40px 200px;
  padding-left: 300px;
  padding-right: 150px;
}

.contacs_info{
  max-width: 565px;
}

.contacs_headtext{
  color: #BCBCBC;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.contacs_text, .contacs_text-rules, .phone{
  color: #fff;
}

.contacs_text{
  padding-top: 10px;
  margin-bottom: 20px;
  max-width: 477px;
}

.contacs_text-rules{
  margin-top: 77px;
  font-size: 14px;
  max-width: 330px;
}

.form{
flex-basis: 594px;
}

.form_input{
  display: block;
  width: 100%;
  margin-bottom: 20px;
  max-width: 594px;
  padding: 10px;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  line-height: 1.3;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff
}

.form_input::placeholder{
  font-family: "Inter", sans-serif;
  font-weight: 900;
  line-height: 1.3;
  text-transform: uppercase;
  font-size: 24px;
  color: white;

}

.form_order{
  width: 100%;
}

.footer{
  text-align: center;
  padding: 15px 0 90px;
  font-size: 14px;
  color: #FFF;
  background-color: #13171C;
}

@media (max-width: 1820px){

  .info_gallery{
      max-width: 100%;
  }
  
  .info_gallery img{
      width: 49%;
  }
  }

  @media (max-width: 1600px){
      .contacs_box{
          padding-left: 150px;
      }
  }

@media (max-width: 1200px){
.title{
  font-size: 278px;
  padding-left: 0;
}

.sub-title{
  font-size: 140px;
  padding-right: 0;
}

.header_img{
  top: 0;
  max-width: 100%;
}

.info{
  padding: 100px 0;
}

.info_title{
  font-size: 86px;
}

.info_content{ 
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 100px;
  gap: 20px;
}

.color_text{
  font-size: 80px;
  margin-bottom: 20px;
}

.gallery-box{
  padding: 50px 20px;
  flex-wrap: wrap; 
}

.gallery-box_item{
  width: 48%;
}

.gallery-box img{
  max-width: 100%;
  border-radius: 30px;
}

.gallery-box_text{
  font-size: 36px;
  color: #fff;
  text-transform: uppercase;
}

.contacs_box{
  padding-left: 0;
  padding-right: 0;
  gap: 60px;
}

.contacs{
  padding: 100px 0;
}

.footer{
  padding-bottom: 50px;
}
}

@media (max-width: 1040px){
.info_gallery img{
   width: 100%; 
}

.info_list{
  gap: 20px;
}

.info_content{
  margin-bottom: 50px;
}

.price{
  font-size: 32px;
  margin-bottom: 10px;
}
}



@media (max-width: 800px){
  .header_top{
      padding-top: 25px;
   }
  .title{
    font-size: 180px;
     
  }
.subtitle{
    font-size: 90px;
   
}
.menu_btn span{
  box-sizing: content-box;
  border: 1px solid #000; 
}
.info_title{
  font-size: 54px;
}
.info_list{
  column-count: 1;
  font-size: 18px;
}
.contacs_box{
  display: block;
}
.contacs_text-rules{
  padding-top: 20px;
  padding-bottom: 40px;
}
.form_order{
  width: auto;
}
}

@media (max-width: 670px){
.info_content{
  display: block;
  text-align: center;
}
.color_text{
  font-size: 38px;
}
.gallery-box_item{
  width: 100%;
}
}


@media (max-width: 530px){

  .title{
    font-size: 122px;
    
  }
.sub-title{
    font-size: 70px; 
}
.info{
  padding: 50px 0;
}
.info_title{
  font-size: 44px;
  line-height: 1;
}
.contacs_title{
  font-size: 24px;
  margin-bottom: 20px;
}
.contacs{
  padding: 50px 0;
}
.contacs_headtext{
  font-size: 18px;
}
.contacs_text{
  font-size: 18px;
}
.form_input{
  font-size: 18px;
}
.form_input::placeholder{
  font-size: 18px;
}
.order{
  font-size: 18px;

}
.form_order{
  width: 100%;
}
}

